<!DOCTYPE html>
<html>
  <head>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.2/af-2.7.0/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.2/af-2.7.0/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.js"></script>

<style>
  .container{
    width:100%!important;
  }
  .btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  }

  .btn:focus,
  .btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus {
    color: #333;
    text-decoration: none;
  }
  
  .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
/* default
---------------------------- */
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
 .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }

  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;  
  }

  .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
 </style>
    
    <meta charset=utf-8 />
    <title>Calendarios</title>
  </head>
  <body>
  
  <h1>Calendarios</h1>
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-primary">Nuevo</button>
    </div>
    <div class="card-body">
      <div class="row g-4 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">IDCRONTAB</label>
        </div>
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">01</label>
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Hora Inicio
          </span>
        </div>
        <div class="col-auto">
          <select class="form-select" name="horaIni" id="horaIni">
            <option value="uno">01</option>
            <option value="dos">02</option>
            <option value="tres">03</option>
            <option value="cuatro">04</option>
            <option value="cinco">05</option>
            <option value="seis">06</option>
            <option value="siete">07</option>
            <option value="ocho">08</option>
            <option value="nueve">09</option>
            <option value="diez">10</option>
            <option value="once">11</option>
            <option value="doce">12</option>
            <option value="trece">13</option>
            <option value="catorce">14</option>
            <option value="quince">15</option>
            <option value="dieciseis">16</option>
            <option value="diecisiete">17</option>
            <option value="dieciocho">18</option>
            <option value="diecinueve">19</option>
            <option value="veinte">20</option>
            <option value="veintiuno">21</option>
            <option value="veintidos">22</option>
            <option value="veintires">23</option>
            <option value="veinticuatro">24</option>
          </select>
        </div>
        <div class="col-auto">
          <select class="form-select" name="minutoIni" id="minutoIni">
            <option value="cero">00</option>
            <option value="uno">01</option>
            <option value="dos">02</option>
            <option value="tres">03</option>
            <option value="cuatro">04</option>
            <option value="cinco">05</option>
            <option value="seis">06</option>
            <option value="siete">07</option>
            <option value="ocho">08</option>
            <option value="nueve">09</option>
            <option value="diez">10</option>
            <option value="once">11</option>
            <option value="doce">12</option>
            <option value="trece">13</option>
            <option value="catorce">14</option>
            <option value="quince">15</option>
            <option value="dieciseis">16</option>
            <option value="diecisiete">17</option>
            <option value="dieciocho">18</option>
            <option value="diecinueve">19</option>
            <option value="veinte">20</option>
            <option value="veintiuno">21</option>
            <option value="veintidos">22</option>
            <option value="veintitres">23</option>
            <option value="veinticuatro">24</option>
            <option value="veinticinco">25</option>
            <option value="veintiseis">26</option>
            <option value="veintisiete">27</option>
            <option value="veintiocho">28</option>
            <option value="veintinueve">29</option>
            <option value="treinta">30</option>
            <option value="treintauno">31</option>
            <option value="treintados">32</option>
            <option value="treintatres">33</option>
            <option value="treintacuatro">34</option>
            <option value="treintacinco">35</option>
            <option value="treintaseis">36</option>
            <option value="treintasiete">37</option>
            <option value="treintaocho">38</option>
            <option value="treintanueve">39</option>
            <option value="cuarenta">40</option>
            <option value="cuarentauno">41</option>
            <option value="cuarentados">42</option>
            <option value="cuarentatres">43</option>
            <option value="cuarentacuatro">44</option>
            <option value="cuarentacinco">45</option>
            <option value="cuarentaseis">46</option>
            <option value="cuarentasiete">47</option>
            <option value="cuarentaocho">48</option>
            <option value="cuarentanueve">49</option>
            <option value="cincuenta">50</option>
            <option value="cincuentauno">51</option>
            <option value="cincuentados">52</option>
            <option value="cincuentatres">53</option>
            <option value="cincuentacuatro">54</option>
            <option value="cincuentacinco">55</option>
            <option value="cincuentaseis">56</option>
            <option value="cincuentasiete">57</option>
            <option value="cincuentaocho">58</option>
            <option value="cincuentanueve">59</option>
          </select>
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Hora Fin
          </span>
        </div>
        <div class="col-auto">
          <select class="form-select" name="horaFin" id="horaFin">
            <option value="uno">01</option>
            <option value="dos">02</option>
            <option value="tres">03</option>
            <option value="cuatro">04</option>
            <option value="cinco">05</option>
            <option value="seis">06</option>
            <option value="siete">07</option>
            <option value="ocho">08</option>
            <option value="nueve">09</option>
            <option value="diez">10</option>
            <option value="once">11</option>
            <option value="doce">12</option>
            <option value="trece">13</option>
            <option value="catorce">14</option>
            <option value="quince">15</option>
            <option value="dieciseis">16</option>
            <option value="diecisiete">17</option>
            <option value="dieciocho">18</option>
            <option value="diecinueve">19</option>
            <option value="veinte">20</option>
            <option value="veintiuno">21</option>
            <option value="veintidos">22</option>
            <option value="veintires">23</option>
            <option value="veinticuatro">24</option>
          </select>
        </div>
        <div class="col-auto">
          <select class="form-select" name="minutoFin" id="minutoFin">
            <option value="cero">00</option>
            <option value="uno">01</option>
            <option value="dos">02</option>
            <option value="tres">03</option>
            <option value="cuatro">04</option>
            <option value="cinco">05</option>
            <option value="seis">06</option>
            <option value="siete">07</option>
            <option value="ocho">08</option>
            <option value="nueve">09</option>
            <option value="diez">10</option>
            <option value="once">11</option>
            <option value="doce">12</option>
            <option value="trece">13</option>
            <option value="catorce">14</option>
            <option value="quince">15</option>
            <option value="dieciseis">16</option>
            <option value="diecisiete">17</option>
            <option value="dieciocho">18</option>
            <option value="diecinueve">19</option>
            <option value="veinte">20</option>
            <option value="veintiuno">21</option>
            <option value="veintidos">22</option>
            <option value="veintitres">23</option>
            <option value="veinticuatro">24</option>
            <option value="veinticinco">25</option>
            <option value="veintiseis">26</option>
            <option value="veintisiete">27</option>
            <option value="veintiocho">28</option>
            <option value="veintinueve">29</option>
            <option value="treinta">30</option>
            <option value="treintauno">31</option>
            <option value="treintados">32</option>
            <option value="treintatres">33</option>
            <option value="treintacuatro">34</option>
            <option value="treintacinco">35</option>
            <option value="treintaseis">36</option>
            <option value="treintasiete">37</option>
            <option value="treintaocho">38</option>
            <option value="treintanueve">39</option>
            <option value="cuarenta">40</option>
            <option value="cuarentauno">41</option>
            <option value="cuarentados">42</option>
            <option value="cuarentatres">43</option>
            <option value="cuarentacuatro">44</option>
            <option value="cuarentacinco">45</option>
            <option value="cuarentaseis">46</option>
            <option value="cuarentasiete">47</option>
            <option value="cuarentaocho">48</option>
            <option value="cuarentanueve">49</option>
            <option value="cincuenta">50</option>
            <option value="cincuentauno">51</option>
            <option value="cincuentados">52</option>
            <option value="cincuentatres">53</option>
            <option value="cincuentacuatro">54</option>
            <option value="cincuentacinco">55</option>
            <option value="cincuentaseis">56</option>
            <option value="cincuentasiete">57</option>
            <option value="cincuentaocho">58</option>
            <option value="cincuentanueve">59</option>
          </select>
        </div>
      </div><hr />

      <a href="#" class="link-info">Días</a>
      <div class="row g-4 align-items-center">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckLunes">
            <label class="form-check-label" for="flexCheckLunes">
              Lunes
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckMartes">
            <label class="form-check-label" for="flexCheckMartes">
              Martes
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckMiercoles">
            <label class="form-check-label" for="flexCheckMiercoles">
              Miercoles
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckJueves">
            <label class="form-check-label" for="flexCheckJueves">
              Jueves
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckViernes">
            <label class="form-check-label" for="flexCheckViernes">
              Viernes
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSabado">
            <label class="form-check-label" for="flexCheckSabado">
              Sabado
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDomingo">
            <label class="form-check-label" for="flexCheckDomingo">
              Domingo
            </label>
          </div>
        </div>
      </div>
      <hr />

      <a href="#" class="link-info">Días Ejecución</a>
      <div class="row g-4 align-items-center">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckTodosExe">
            <label class="form-check-label" for="flexCheckTodosExe">
              Todos
            </label>
          </div>
        </div>
      </div>
      <div class="row g-4 align-items-center">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckUnoExe">
            <label class="form-check-label" for="flexCheckUnoExe">
              1
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDosExe">
            <label class="form-check-label" for="flexCheckDosExe">
              2
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckTresExe">
            <label class="form-check-label" for="flexCheckTresExe">
              3
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCuatroExe">
            <label class="form-check-label" for="flexCheckCuatroExe">
              4
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCincoExe">
            <label class="form-check-label" for="flexCheckCincoExe">
              5
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSeisExe">
            <label class="form-check-label" for="flexCheckSeisExe">
              6
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSieteExe">
            <label class="form-check-label" for="flexCheckSieteExe">
              7
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckOchoExe">
            <label class="form-check-label" for="flexCheckOchoExe">
              8
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckNueveExe">
            <label class="form-check-label" for="flexCheckNueveExe">
              9
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezExe">
            <label class="form-check-label" for="flexCheckDiezExe">
              10
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckOnceExe">
            <label class="form-check-label" for="flexCheckOnceExe">
              11
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDoceExe">
            <label class="form-check-label" for="flexCheckDoceExe">
              12
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckTreceExe">
            <label class="form-check-label" for="flexCheckTreceExe">
              13
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCatorceExe">
            <label class="form-check-label" for="flexCheckCatorceExe">
              14
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckQuinceExe">
            <label class="form-check-label" for="flexCheckQuinceExe">
              15
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezsiseisExe">
            <label class="form-check-label" for="flexCheckDiezsiseisExe">
              16
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezsieteExe">
            <label class="form-check-label" for="flexCheckDiezsieteExe">
              17
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezsiochoExe">
            <label class="form-check-label" for="flexCheckDiezsiochoExe">
              18
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezcinueveExe">
            <label class="form-check-label" for="flexCheckDiezcinueveExe">
              19
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinteExe">
            <label class="form-check-label" for="flexCheckVeinteExe">
              20
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiunoExe">
            <label class="form-check-label" for="flexCheckVeintiunoExe">
              21
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintidosExe">
            <label class="form-check-label" for="flexCheckVeintidosExe">
              22
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintitresExe">
            <label class="form-check-label" for="flexCheckVeintitresExe">
              23
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinticuatroExe">
            <label class="form-check-label" for="flexCheckVeinticuatroExe">
              24
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinticincoExe">
            <label class="form-check-label" for="flexCheckVeinticincoExe">
              25
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiseisExe">
            <label class="form-check-label" for="flexCheckVeintiseisExe">
              26
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintisieteExe">
            <label class="form-check-label" for="flexCheckVeintisieteExe">
              27
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiochoExe">
            <label class="form-check-label" for="flexCheckVeintiochoExe">
              28
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintinueveExe">
            <label class="form-check-label" for="flexCheckVeintinueveExe">
              29
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckTreinta">
            <label class="form-check-label" for="flexCheckTreinta">
              30
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckTreintauno">
            <label class="form-check-label" for="flexCheckTreintauno">
              31
            </label>
          </div>
        </div>
      </div>
      <hr />

      <a href="#" class="link-info">Meses</a>
      <div class="row g-4 align-items-center">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckEnero">
            <label class="form-check-label" for="flexCheckEnero">
              Enero
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckFebrero">
            <label class="form-check-label" for="flexCheckFebrero">
              Febrero
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckMarzo">
            <label class="form-check-label" for="flexCheckMarzo">
              Marzo
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckAbril">
            <label class="form-check-label" for="flexCheckAbril">
              Abril
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckMayo">
            <label class="form-check-label" for="flexCheckMayo">
              Mayo
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckJunio">
            <label class="form-check-label" for="flexCheckJunio">
              Junio
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckJulio">
            <label class="form-check-label" for="flexCheckJulio">
              Julio
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckAgost">
            <label class="form-check-label" for="flexCheckAgost">
              Agosto
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSept">
            <label class="form-check-label" for="flexCheckSept">
              Septiembre
            </label>
          </div>
        </div>        
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckOct">
            <label class="form-check-label" for="flexCheckOct">
              Octubre
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckNov">
            <label class="form-check-label" for="flexCheckNov">
              Noviembre
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDic">
            <label class="form-check-label" for="flexCheckDic">
              Diciembre
            </label>
          </div>
        </div>
      </div>

      <div class="accordion accordion-flush" id="accordionFlushExample">
        <hr />
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <span id="RepeatEveryMins" class="form-text">
              REPEAT_EVERY_MINS
            </span>
          </div>
          <div class="col-auto">
            <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="IdRepeatAfterFin">
              <label class="form-check-label" for="RepeatAfterFin">
                REPEAT_AFTER_FINISH
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <a href="#" class="btn btn-primary">Guardar</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <table id="example" class="display nowrap" width="100%">
      <thead>
        <tr>
          <th><input type="checkbox" name="select_all" class="dt-column-title" value="1" id="example-select-all"></th>
          <th>IDCRONTAB</th>
          <th>FECHA</th>
          <th>HORA INICIO</th>
          <th>HORA FIN</th>
          <th>RECURRENCIA</th>
          <th>WDAY_M2S_EX</th>
          <th>DAY_EX</th>
          <th>MONTH_EX</th>
          <th>REPEAT_EVERY_MINS</th>
          <th>REPEAT_AFTER_FINISH</th>
          <th>ACCION</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
          
          <tr>
          <td><input type="checkbox"></td>
        
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>1000</td>
          <td>00000000</td>
          <td>0000</td>
          <td>0000</td>
          <td>0000</td>
          <td>1111111</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<script>
$(document).ready( function () {
  var table = $('#example').DataTable({
    // dom: 't',
	  // responsive: true,
	 //  pageLength: 10,
      "scrollX":  true,
        "sScrollX": "50%",
		    "scrollY":  $(document).height() - 300,
        "scrollCollapse": true,
	    'columnDefs': [
      {
        'targets': 0,
			  orderable: false,
        'className': 'dt-body-center',
        'render': function (data, type, full, meta){
        return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
        }
        },
		 {
			"targets": -1, //la ultima columna
			"data": null,
			"name":"botonesAccion",
			"defaultContent": '<a class="btn btn-success">tst</a>&nbsp;<a class="btn btn-info">tst</a>&nbsp;<a class="btn btn-danger">tst</a>',
			"render": function ( data, type, row, meta ) {   		  
				/*if(data[55]==1)
				return '<a disabled title="Editar Producto" class="btn btn-mini btn-xs btn-success"><i  class="icon-pencil bigger-130"></i></a>&nbsp;'
                else*/
              // return '<a  id="editar" title="Editar Producto" class="btn btn-mini btn-xs btn-success"><i  class="icon-pencil bigger-130"></i></a>&nbsp;';					
			}					
			
		} 
    ],
	  select: {
      style:    'os',   //default but you have to specify it, no idea why
      selector: 'tr,a:not(.btn)'
    }
	  ,language: {
    "processing": "Procesando...",
    "lengthMenu": "Mostrar _MENU_ registros",
    "zeroRecords": "No se encontraron resultados",
    "emptyTable": "Ningún dato disponible en esta tabla",
    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
    "search": "Buscar:",
    "loadingRecords": "Cargando...",
    "paginate": {
      "first": "Primero",
      "last": "Último",
      "next": "Siguiente",
      "previous": "Anterior"
    },
    "aria": {
      "sortAscending": ": Activar para ordenar la columna de manera ascendente",
      "sortDescending": ": Activar para ordenar la columna de manera descendente"
    },
    "buttons": {
      "copy": "Copiar",
      "colvis": "Visibilidad",
      "collection": "Colección",
      "colvisRestore": "Restaurar visibilidad",
      "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
      "copySuccess": {
        "1": "Copiada 1 fila al portapapeles",
        "_": "Copiadas %ds fila al portapapeles"
      },
      "copyTitle": "Copiar al portapapeles",
      "csv": "CSV",
      "excel": "Excel",
        "pageLength": {
          "-1": "Mostrar todas las filas",
          "_": "Mostrar %d filas"
        },
      "pdf": "PDF",
      "print": "Imprimir",
      "renameState": "Cambiar nombre",
      "updateState": "Actualizar",
      "createState": "Crear Estado",
      "removeAllStates": "Remover Estados",
      "removeState": "Remover",
      "savedStates": "Estados Guardados",
      "stateRestore": "Estado %d"
    },
    "autoFill": {
      "cancel": "Cancelar",
      "fill": "Rellene todas las celdas con <i>%d<\/i>",
      "fillHorizontal": "Rellenar celdas horizontalmente",
      "fillVertical": "Rellenar celdas verticalmente"
    },
    "decimal": ",",
    "searchBuilder": {
        "add": "Añadir condición",
        "button": {
        "0": "Constructor de búsqueda",
        "_": "Constructor de búsqueda (%d)"
        },
        "clearAll": "Borrar todo",
        "condition": "Condición",
        "conditions": {
          "date": {
            "before": "Antes",
            "between": "Entre",
            "empty": "Vacío",
            "equals": "Igual a",
            "notBetween": "No entre",
            "not": "Diferente de",
            "after": "Después",
            "notEmpty": "No Vacío"
          },
          "number": {
            "between": "Entre",
            "equals": "Igual a",
            "gt": "Mayor a",
            "gte": "Mayor o igual a",
            "lt": "Menor que",
            "lte": "Menor o igual que",
            "notBetween": "No entre",
            "notEmpty": "No vacío",
            "not": "Diferente de",
            "empty": "Vacío"
          },
          "string": {
            "contains": "Contiene",
            "empty": "Vacío",
            "endsWith": "Termina en",
            "equals": "Igual a",
            "startsWith": "Empieza con",
            "not": "Diferente de",
            "notContains": "No Contiene",
            "notStartsWith": "No empieza con",
            "notEndsWith": "No termina con",
            "notEmpty": "No Vacío"
          },
          "array": {
            "not": "Diferente de",
            "equals": "Igual",
            "empty": "Vacío",
            "contains": "Contiene",
            "notEmpty": "No Vacío",
            "without": "Sin"
          }
        },
        "data": "Data",
        "deleteTitle": "Eliminar regla de filtrado",
        "leftTitle": "Criterios anulados",
        "logicAnd": "Y",
        "logicOr": "O",
        "rightTitle": "Criterios de sangría",
        "title": {
          "0": "Constructor de búsqueda",
          "_": "Constructor de búsqueda (%d)"
        },
        "value": "Valor"
    },
    "searchPanes": {
      "clearMessage": "Borrar todo",
      "collapse": {
          "0": "Paneles de búsqueda",
          "_": "Paneles de búsqueda (%d)"
      },
      "count": "{total}",
      "countFiltered": "{shown} ({total})",
      "emptyPanes": "Sin paneles de búsqueda",
      "loadMessage": "Cargando paneles de búsqueda",
      "title": "Filtros Activos - %d",
      "showMessage": "Mostrar Todo",
      "collapseMessage": "Colapsar Todo"
    },
    "select": {
      /*  "cells": {
            "1": "1 celda seleccionada",
            "_": "%d celdas seleccionadas"
        },
        "columns": {
            "1": "1 columna seleccionada",
            "_": "%d columnas seleccionadas"
        },*/
        "rows": {
          "1": "1 fila seleccionada",
          "_": "%d filas seleccionadas"
        }
    },
    "thousands": ".",
    "datetime": {
      "previous": "Anterior",
      "hours": "Horas",
      "minutes": "Minutos",
      "seconds": "Segundos",
      "unknown": "-",
      "amPm": [
        "AM",
        "PM"
      ],
      "months": {
        "0": "Enero",
        "1": "Febrero",
        "10": "Noviembre",
        "11": "Diciembre",
        "2": "Marzo",
        "3": "Abril",
        "4": "Mayo",
        "5": "Junio",
        "6": "Julio",
        "7": "Agosto",
        "8": "Septiembre",
        "9": "Octubre"
      },
      "weekdays": {
        "0": "Dom",
        "1": "Lun",
        "2": "Mar",
        "4": "Jue",
        "5": "Vie",
        "3": "Mié",
        "6": "Sáb"
      },
      "next": "Próximo"
    },
    "editor": {
      "close": "Cerrar",
      "create": {
        "button": "Nuevo",
        "title": "Crear Nuevo Registro",
        "submit": "Crear"
      },
      "edit": {
        "button": "Editar",
        "title": "Editar Registro",
        "submit": "Actualizar"
      },
      "remove": {
        "button": "Eliminar",
        "title": "Eliminar Registro",
        "submit": "Eliminar",
        "confirm": {
          "_": "¿Está seguro de que desea eliminar %d filas?",
          "1": "¿Está seguro de que desea eliminar 1 fila?"
        }
      },
      "error": {
        "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
      },
      "multi": {
        "title": "Múltiples Valores",
        "restore": "Deshacer Cambios",
        "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo.",
        "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, haga clic o pulse aquí, de lo contrario conservarán sus valores individuales."
      }
    },
    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
    "stateRestore": {
      "creationModal": {
        "button": "Crear",
        "name": "Nombre:",
        "order": "Clasificación",
        "paging": "Paginación",
        "select": "Seleccionar",
        "columns": {
          "search": "Búsqueda de Columna",
          "visible": "Visibilidad de Columna"
        },
        "title": "Crear Nuevo Estado",
        "toggleLabel": "Incluir:",
        "scroller": "Posición de desplazamiento",
        "search": "Búsqueda",
        "searchBuilder": "Búsqueda avanzada"
      },
      "removeJoiner": "y",
      "removeSubmit": "Eliminar",
      "renameButton": "Cambiar Nombre",
      "duplicateError": "Ya existe un Estado con este nombre.",
      "emptyStates": "No hay Estados guardados",
      "removeTitle": "Remover Estado",
      "renameTitle": "Cambiar Nombre Estado",
      "emptyError": "El nombre no puede estar vacío.",
      "removeConfirm": "¿Seguro que quiere eliminar %s?",
      "removeError": "Error al eliminar el Estado",
      "renameLabel": "Nuevo nombre para %s:"
    },
    "infoThousands": "."
  } ,
});

  table.on('select', function (e, dt, type, indexes) {
  console.log(e.target);
    if (type === 'row'   ) {
      var nodes = table
      .rows(indexes)
      .nodes()
      .each(function () { 
        $('td:first-child', this).find('input').prop('checked', true); 
      });
      //.find(':checkbox', 'td:first-child').checked = true; 
    }
  });

  table.on('deselect', function (e, dt, type, indexes) {
    if (type === 'row') {
	$('#example-select-all').prop("checked",false);
	
      table
      .rows(indexes)
      .nodes()
      .each(function () { 
        $('td:first-child', this).find('input').prop('checked', false); 
      });
    }
  });
  
   // Handle click on "Select all" control
   $('#example-select-all').on('click', function(){
      
	  console.log("esta selecconado: ",$(this).is(":checked")," otra forma ",this.checked )
	  // Get all rows with search applied
      var rows = table.rows({ 'search': 'applied' }).nodes();
      // Check/uncheck checkboxes for all rows in the table
	  if(this.checked){
      $('input[type="checkbox"]', rows).prop('checked', this.checked);
	    
	    var selData =   table.rows().select();
	    var selData =   table.rows(".selected").data();
		}
		else 
		{
		var selData =   table.rows().deselect();
		}
   });

   // Handle click on checkbox to set state of "Select all" control
   $('#example tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#example-select-all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
  
} );
</script> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>